doctype html
html

head
link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
//link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

body
div.container-fluid
    block content
        div
            img(src="https://avatars0.githubusercontent.com/u/17405774?v=3&amp;u=25031709cd0390734f6bd82aadae7d3379ee57ed&amp;s=140")
            div
                a(href='mailto:jrogatis@metaconexao.com.br')
                    i.fa.fa-envelope.fa-fw
                a(href='https://github.com/jrogatis')
                    i.fa.fa-github.fa-fw
                a(href='https://br.linkedin.com/in/jrogatis')
                    i.fa.fa-linkedin.fa-fw
                a(href='http://codepen.io/jrogatis/')
                    i.fa.fa-codepen.fa-fw
                a(href='http://www.metaconexao.com.br/')
                    i.fa.fa-wordpress.fa-fw


            p Created by Jean Philip de Rogatis(jrogatis)

        h1 FreeCodeCamp API Basejump: URL Shortener Microservice

        h2 User stories:

        p.
            I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
            When I visit that shortened URL, it will redirect me to my original link.

        h2  Example creation usage:

        ul.list-group
            li.list-group-item https://little-url.herokuapp.com/new/https://www.google.com
            li.list-group-item https://little-url.herokuapp.com/new/http://foo.com:80

        h2   Example creation output:

        ul.list-group
            li.list-group-item { "original_url":"http://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }

        h3  Usage: https://little-url.herokuapp.com/2871

        h3  Will redirect to:  https://www.google.com/

