body {
  padding: 50px;
  margin-left: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fa {
    border-color: blue
}

h1 {
    color: blue !important
}
